body::-webkit-scrollbar { 
    display: none; 
}

#input_background {
	background-color: #eceeef;
	border-radius: 10px;
}

#input_content {
	width: 95%;
}
#label-align {
	text-align: right;
}

#float-right {
	float:right;
}