@charset "utf-8";
/* CSS Document */
body::-webkit-scrollbar { 
    display: none; 
}

.whitebody{
	background-color:white;
}

.form-control[readonly]{
    background-color: transparent;
}

.no-border{
	border: 0px;
	box-shadow: 0px 0px;
}

.td-p0{
	padding: 2px !important;
}

.td-green{
	background-color: rgba(8,183,66,0.28);
	text-align: right;
}

.td-red{
	background-color: rgba(243,64,64,0.28);
	text-align: right;
}