@charset "utf-8";
/* CSS Document */
body::-webkit-scrollbar { 
    display: none; 
}

.whitebody{
	background-color:white;
}

.form-control[readonly]{
    background-color: transparent;
}

.no-border{
	border: 0px;
	box-shadow: 0px 0px;
}