@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/* CSS Document */
body::-webkit-scrollbar { 
    display: none; 
}

.whitebody{
	background-color:white;
}

.form-control[readonly]{
    background-color: transparent;
}

.no-border{
	border: 0px;
	box-shadow: 0px 0px;
}

.td-p0{
	padding: 2px !important;
}

.td-green{
	background-color: rgba(8,183,66,0.28);
	text-align: right;
}

.td-red{
	background-color: rgba(243,64,64,0.28);
	text-align: right;
}

.font-1{
	font-family: 'Jeju Gothic', serif;
	font-size : 14px;
}

.navname{
	font-size: 16px;
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #eee;
}